@font-face {font-family: "b2font";
  src: url('../font/font_1105559_o0pwbfm3dki-1587442.eot'); 
  src: url('../font/font_1105559_o0pwbfm3dki-1587442.eot#iefix') format('embedded-opentype'), 
  url("../font/font_1105559_o0pwbfm3dki-1587442.woff2") format("woff2"), /* chrome、firefox、opera、Safari, Android, iOS */
  url('../font/font_1105559_o0pwbfm3dki-1587442.woff') format('woff'),
  url('../font/font_1105559_o0pwbfm3dki-1587442.ttf') format('truetype'), 
  url('../font/font_1105559_o0pwbfm3dki-1587442.svg#b2font') format('svg'); 
}

.b2font {
  font-family: "b2font" !important;
  font-size: 16px;
  vertical-align: -2px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 
.b2-qqkongjian:before {
  content: "\e699";
}
.b2-qq-bg:before {
  content: "\e698";
}
.b2-weibo-bg:before {
  content: "\e697";
}
.b2-qqkongjian-bg:before {
  content: "\e696";
}
.b2-weixin-bg:before {
  content: "\e695";
}

.b2-task-line:before {
  content: "\e6b8";
}

.b2-weixintuiguangxifen:before {
  content: "\e658";
}

.b2-paypal:before {
  content: "\e69c";
}

.b2-nv:before {
  content: "\e64e";
}

.b2-nan:before {
  content: "\e64f";
}

.b2-pinglun1:before {
  content: "\e64c";
}

.b2-xinaixin:before {
  content: "\e649";
}

.b2-xiazai:before {
  content: "\e648";
}

.b2-fensi:before {
  content: "\e647";
}

.b2-yaoqingma:before {
  content: "\e646";
}

.b2-fufei:before {
  content: "\e64d";
}

.b2-kuaixun:before {
  content: "\e63b";
}

.b2-qushi-shangzhang:before {
  content: "\e8ac";
}

.b2-qushi-xiadie:before {
  content: "\e8ad";
}

.b2-link:before {
  content: "\e63a";
}

.b2-email:before {
  content: "\e679";
}

.b2-icon-copy:before {
  content: "\e638";
}

.b2-icon-copy-copy:before {
  content: "\e639";
}

.b2-shipinye-meiguihua:before {
  content: "\e637";
}

.b2-shandian:before {
  content: "\e633";
}

.b2-yuancircle94:before {
  content: "\e630";
}

.b2-kefu:before {
  content: "\e62f";
}

.b2-spread-line:before {
  content: "\e645";
}

.b2-wenti:before {
  content: "\e617";
}

.b2-duigou:before {
  content: "\e712";
}

.b2-tags:before {
  content: "\e62c";
}

.b2-dizhi:before {
  content: "\e673";
}

.b2-youxiang:before {
  content: "\e62e";
}

.b2-youhuijuan-xianxing:before {
  content: "\e898";
}

.b2-smile1:before {
  content: "\e740";
}

.b2-jiantou-copy-copy:before {
  content: "\e6ab";
}

.b2-wodegouwuche:before {
  content: "\e655";
}

.b2-fukuanchenggongzhangdan:before {
  content: "\e636";
}

.b2-jiesuan:before {
  content: "\e6fd";
}

.b2-quanxian:before {
  content: "\e656";
}

.b2-hot:before {
  content: "\e65a";
}

.b2-starempty:before {
  content: "\e68d";
}

.b2-gouwuche:before {
  content: "\e657";
}

.b2-message:before {
  content: "\e654";
}

.b2-ictotop:before {
  content: "\e653";
}

.b2-erweima:before {
  content: "\e700";
}

.b2-auth:before {
  content: "\e634";
}

.b2-qiandao-kaoqindaqia:before {
  content: "\e62d";
}

.b2-gou1:before {
  content: "\e644";
}

.b2-guanzhu:before {
  content: "\e62b";
}

.b2-tag2:before {
  content: "\e8c2";
}

.b2-menu:before {
  content: "\e801";
}

.b2-wode:before {
  content: "\e63c";
}

.b2-zhuanti:before {
  content: "\e62a";
}

.b2-home:before {
  content: "\e629";
}

.b2-buxihuan:before {
  content: "\e643";
}

.b2-jiantou:before {
  content: "\e660";
}

.b2-top1:before {
  content: "\e628";
}

.b2-shaixuan:before {
  content: "\e627";
}

.b2-gongzhonghao:before {
  content: "\e626";
}

.b2-cedaohang-kehuguanli:before {
  content: "\e711";
}

.b2-feiyongduoweifenxi:before {
  content: "\e702";
}

.b2-shezhi1:before {
  content: "\e625";
}

.b2-cuowu1:before {
  content: "\e64b";
}

.b2-dui:before {
  content: "\e624";
}

.b2-qiami:before {
  content: "\e670";
}

.b2-gift2e:before {
  content: "\e631";
}

.b2-vip:before {
  content: "\e6ba";
}

.b2-icon:before {
  content: "\e651";
}

.b2-cuowu:before {
  content: "\e642";
}

.b2-xiao:before {
  content: "\e675";
}

.b2-ku1:before {
  content: "\e676";
}

.b2-waiting:before {
  content: "\e734";
}

.b2-pay-weixin:before {
  content: "\e65f";
}

.b2-pay-zhifubao:before {
  content: "\e63f";
}

.b2-tang:before {
  content: "\e6ec";
}

.b2-write:before {
  content: "\e61d";
}

.b2-code:before {
  content: "\e6c7";
}

.b2-gouwucheman:before {
  content: "\e622";
}

.b2-xiaoxi:before {
  content: "\e621";
}

.b2-top:before {
  content: "\e632";
}

.b2-play1:before {
  content: "\e618";
}

.b2-29:before {
  content: "\e61c";
}

.b2-zidingyi:before {
  content: "\e665";
}

.b2-jifen:before {
  content: "\e65e";
}

.b2-iocnqipaotu:before {
  content: "\e61b";
}

.b2-shiyan:before {
  content: "\e619";
}

.b2-wenzhang:before {
  content: "\e67d";
}

.b2-shoucang:before {
  content: "\e616";
}

.b2-link-to:before {
  content: "\e672";
}

.b2-photo:before {
  content: "\e623";
}

.b2-user:before {
  content: "\e957";
}

.b2-zhiding:before {
  content: "\e63e";
}

.b2-tupian:before {
  content: "\e73a";
}

.b2-smile:before {
  content: "\e614";
}

.b2-face:before {
  content: "\e678";
}

.b2-cai2:before {
  content: "\e620";
}

.b2-zan2:before {
  content: "\e615";
}

.b2-feiji:before {
  content: "\e652";
}

.b2-share:before {
  content: "\e612";
}

.b2-cai:before {
  content: "\e677";
}

.b2-zan:before {
  content: "\e611";
}

.b2-kaisuo:before {
  content: "\e610";
}

.b2-suo:before {
  content: "\e60d";
}

.b2-stop:before {
  content: "\e60c";
}

.b2-play:before {
  content: "\e60b";
}

.b2-arrow:before {
  content: "\e60a";
}

.b2-laba:before {
  content: "\e6a6";
}

.b2-xiexian:before {
  content: "\e641";
}

.b2-jian:before {
  content: "\e742";
}

.b2-jia:before {
  content: "\e64a";
}

.b2-add:before {
  content: "\e61a";
}

.b2-page-empty:before {
  content: "\e640";
}

.b2-eye:before {
  content: "\e606";
}

.b2-pinglun:before {
  content: "\e609";
}

.b2-love:before {
  content: "\e60f";
}

.b2-time:before {
  content: "\e7d5";
}

.b2-tuichu:before {
  content: "\e6e4";
}

.b2-xingzhuangcopy:before {
  content: "\e605";
}

.b2-houtai:before {
  content: "\e98b";
}

.b2-shezhi:before {
  content: "\e613";
}

.b2-renzheng:before {
  content: "\e635";
}

.b2-caifu:before {
  content: "\e78b";
}

.b2-gift:before {
  content: "\e61e";
}

.b2-help:before {
  content: "\e65b";
}

.b2-eye-close:before {
  content: "\e601";
}

.b2-eye-open:before {
  content: "\ebcc";
}

.b2-weibo:before {
  content: "\e60e";
}

.b2-qq:before {
  content: "\e83b";
}

.b2-weixin:before {
  content: "\e659";
}

.b2-close:before {
  content: "\e603";
}

.b2-jt-down:before {
  content: "\e602";
}

.b2-jt-block-down:before {
  content: "\e608";
}

.b2-jt-right:before {
  content: "\e607";
}

.b2-search:before {
  content: "\e600";
}

.b2-news:before {
  content: "\e604";
}

.b2-cart:before {
  content: "\e63d";
}

.b2-more:before {
  content: "\e61f";
}