a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,figure,font,form,h1,h2,h3,h4,h5,h6,html,iframe,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-x: hidden;
	max-width: 100%;
}
[v-cloak] {
	display: none!important;
  }
.b2-hidden-always{
	display: none
}
input{
	padding:5px
}
input,textarea{
	color:#666;
	resize: none;
}
button,input[type="text"],input[type="password"],input[type="number"],textarea {
	-webkit-appearance: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: font-regular,'Helvetica Neue',sans-serif;
	border:1px solid #ccc;
	box-sizing: border-box
}
body{
	margin:0;
	padding:0;
	-webkit-backface-visibility: hidden;
}
button.none{
	padding:0;
	background: none;
	border:0;
	color:inherit
}
select{
	-webkit-appearance: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family:  font-regular,'Helvetica Neue',sans-serif;
	padding:5px 10px;
	cursor: pointer;
	box-shadow: inset 0 0 9px rgba(204,204,204,.39);
	background: url(../images/arrow.png) no-repeat 97% 9px;
	padding-right:20px
}
::-moz-placeholder { color: #ccc; }
::-webkit-input-placeholder { color:#ccc; }
:-ms-input-placeholder { color:#ccc; }
button:focus,input:focus,textarea:focus {
	outline: none;
}
input:focus,textarea:focus{
	color:initial
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #fff inset;
	box-shadow: 0 0 0 30px #fff inset;
}
button,select {
	text-transform: none
}
button,html input[type=button],input[type=reset],input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}

html input[disabled] {
	cursor: default;
	border: 1px solid rgba(255, 255, 255, 0);
}
button,.button{
	border-radius:4px;
	color:#fff;
	padding: 8px 16px;
	transition: opacity .2s;
	position: relative;
	cursor: pointer;
	font-size: 12px;
	margin:0
}
button.text,.button.text{
	background: none;
	border:0
}
button[disabled],button[disabled].empty,.button.disabled.empty{
	opacity: .7;
	cursor: default
}
button.empty.b2-loading:after,.button.empty.b2-loading:after{
	background-image: url(../images/loading-empty.svg);
}
button.b2-loading,.button.b2-loading,button.empty.b2-loading,.button.empty.b2-loading{
	color: rgba(255, 255, 255, 0);
}
.post-list-cats a span.button.b2-loading{
    color: rgba(255, 255, 255, 0)!important;
}
button.b2-loading:after,.button.b2-loading:after{
	content: '';
	background-image: url(../images/loading.svg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    position: absolute;
    left: -1px;
	top: -1px;
	bottom:-1px;
	right:-1px;
    z-index: 2;
	cursor: default;
}

button:active,.button:active{
	transform: translateY(1px);
}
button[disabled]:active,.button.disabled:active{
	transform: none
}
button:hover,.button:hover{
	opacity: .9;
	transition: opacity .2s
}
button[disabled],.button.disabled{
	opacity: .7;
	cursor: default
}
button.empty,.button.empty{
	background: rgba(255, 255, 255, 0);
}
body{
	line-height: 1.4;
	color: rgba(0,0,0,.8);
	font-family:  font-regular,'Helvetica Neue',sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	font-feature-settings: "liga" on;
}
article,aside,details,figcaption,figure,footer,header,main,nav,section {
	display: block
}

ol,ul {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,td,th {
	font-weight: 400;
	text-align: left
}

small {
	font-size: 80%
}

blockquote:after,blockquote:before,q:after,q:before {
	content: ""
}

blockquote,q {
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none
}

blockquote {
	background-color: #f4f4f4;
    width: 100%;
    padding: 16px 16px 24px 16px;
    margin-bottom: 26px;
}

blockquote:before{
	content: "";
    display: block;
    width: 24px;
    height: 16px;
    background-image: url(../images/quote-icon-red.svg);
    margin-bottom: 16px;
}
.entry-content blockquote p{
	margin:0
}
.entry-content blockquote p + p{
	margin-top:26px
}
blockquote small {
	float: right;
	margin-top: 25px;
	color: rgba(0,0,0,.44);
	font-style: italic
}

a:active,a:hover {
	outline: 0;
	transition: .3s;
}

pre {
	padding: 17px;
	font: 14px/22px courier new;
	position: relative;
	margin: 40px 0;
	background-color: #f8f8f8
}

code,pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	border-radius: 3px
}

code {
	padding: 2px;
	background-color: #eee;
	word-break: break-word;
	letter-spacing: 0;
	font: 14px/26px courier new
}

pre code {
	padding: 0;
	background-color: #fff;
	border-radius: 0
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	vertical-align: text-top;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0
}

a {
	color:inherit;
	text-decoration: none;
	vertical-align: top;
}
input[disabled] {
	cursor: default;
	color: rgba(0,0,0,.8);
	background-color: rgba(0,0,0,.05)
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
	-webkit-appearance: none !important;
 }
 input[type="number"]{-moz-appearance:textfield;}
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}
embed,
iframe,
object {
	max-width: 100%;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

dfn, cite, em, i {
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

.dr{
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.dl{
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.jt::before{  
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    left: 35px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
	border-bottom: 8px solid rgb(181, 181, 181);
	z-index: 2;
}


.jt::after{
	content: '';
	display: block;
	position: absolute;
	top: -6.6px; 
	left: 35px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	z-index: 2;
}
.toasted-container{
	z-index: 99999999!important;
}
.toasted.primary{
	font-size: 13px!important;
	font-weight: 400!important
}
.toasted-container.top-center{
	-webkit-transform: translateX(-50%);
    transform: translateX(-47%)!important;
}
.toasted.primary.error {
    background: rgb(255, 255, 255)!important;
    color: rgb(253, 0, 0)!important;
}
.entry-content{
	line-height: 30px
}
.link-overlay{
	display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.link-block{
	position: absolute;
	width:100%;
	height:100%;
	z-index:2;
	top:0;
	left:0
}

.dplayer-icons button{
	background: inherit;
	border:inherit
}
.dplayer-logo{
	max-width: 100px;
    width: 100px;
    opacity: .3;
    left: auto;
    right: 20px;
}

.dplayer-menu-show {
	display: none !important;
}
.dplayer-mask-show{
	display: none!important
}
.dplayer-video-wrap{
	height: 0!important;
    padding-top: 56.39925%;
}
.dplayer.dplayer-hide-controller{
	height:100%
}
.dplayer-video-wrap video{
    position: absolute;
	top: 0;
	object-fit: cover
}
.b2-dot{
	padding:0 5px
}
.comment-meta-item{
	position: absolute;
	right:16px;
	color:red
}
.mobile-show{
	display: none
}
.mobile-hidden{
	display: block
}
.pc-hidden{
	display: none;
}
.pc-show{
	display: block;
}
.red{
	color:red
}
.green{
	color:green
}
.box{
	background-color: #fff;
    
	
	box-shadow: 0 1px 3px rgba(26,26,26,.1);
	
}
img.avatar{
	background-color: #eee;
}

.box-in{

}

table {
	border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table thead{
    background-color: #f6f6f6;
    font-weight: 700;
    border-top: 1px solid #dddfe2
}
table td {
    border: 1px solid #999;
    padding: 5px;
    font-size: 13px;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
}


 .wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption .wp-caption-text {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}




.gallery {
	margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
.anhover a:hover,.entry-content p > a:hover{
	border-bottom:1px solid #333
}
@keyframes waveMove {
    from { background-position: 0 100%; }
    to   { background-position: -20px 100%; }
}
.waves {
    position: relative;
    width: 100%;
    height: 60vh;
    margin-bottom: -7px;
    
    min-height: 60px;
    max-height: 60px;
}
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}